body{
    font-family: 'Archivo Black', sans-serif;
    background-color: #2978b5;
}
h1{
    margin-left: 15%;
    margin-top: 5%;
    font-size: 36pt;
    font-weight: bold;
    font-family:  'Archivo Black', sans-serif;
    color: #8ab6d6;   
}
.form{
    float: left;
    margin-left: 15%;
    font-size:10pt 
}
.form label{
    color: #8ab6d6;
    font-weight: bold;
}
.form input,textarea{
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    background-color:#98bcd6;
    color: white;
    border: none;
    width: 100%;
    margin: 10px;
    margin-left: 15px;
}
button{
    border: none;
    margin-top: 7px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 10pt;
    background-color: #05c898;
}